body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align : left;
}

.vertical-line {
    display: block;
    width:5px;
    background-color:#000;
    position:absolute;
    top:0;
    bottom:0;
    left:550px;
}


.align-right {
    text-align: right;
    padding-right: 150px;
}
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.txt-normal {
    font-size: 150%;
}

.right_column {
    float: right;
    padding-right: 550px;
    
}

.login_textbox {
    float: right;
    padding-right : 350px;
}

